.TamañoPagina{
    width: 100%;
    height: 100%;
}

.contenedor {
    background-color: rgb(179, 179, 179); /* Color de fondo */
    border: 5px solid rgb(158, 158, 158);    /* Grosor y color del borde */
    box-sizing: border-box;    /* Incluye el grosor del borde en el ancho y altura del elemento */
    width: 90%;    /* Ancho del elemento */
    height: 500px;    /* Altura del elemento */
    margin: 0 auto;    /* Margen automático para centrar el elemento */
    padding: 10px;    /* Espacio entre el borde y el contenido */
    position: relative;    /* Posicionamiento relativo */
}

